.main_4-content-name{
    margin: 0;
    color: rgba(184, 184, 184, 0.70);
    /* H6 title - 16px */
    font-family: Ginora Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}
.main_4-content-headeng{
    margin: 6px 0 0;
    color: #F4F4F4;
    /* H3 title - 44px */
    font-family: Ginora Sans;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 113.636% */
    text-transform: capitalize;
}
.main_4-content-text{
    margin: 20px 0 0;
    max-width: 499px;
    color: #B8B8B8;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.main_4-content-contaner-txt{
    color: #5CE4CF;
    font-family: Ginora Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
    text-transform: uppercase;

}
@media(max-width:1060px){
    .main_4-content-name{
        color: rgba(184, 184, 184, 0.70);

        font-family: Ginora Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 150% */
        letter-spacing: 3.6px;
        text-transform: uppercase;
    }
    .main_4-content-headeng{
        color: #F4F4F4;

        font-family: Ginora Sans;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        width: 322px;
    }
    .main_4-content-text{
        width: 320px;
        color: #B8B8B8;
        font-family: Gilroy-Regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }
    .main_4-content-contaner-txt{
        color: var(--secondary-color, #5CE4CF);
        font-family: Ginora Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; /* 100% */
        text-transform: uppercase;
    }
}