@font-face {
    font-family: Ginora Sans;
    src: url(./Ginora\ Sans/Ginra\ Sans\ Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: Ginora Sans;
    src: url(./Ginora\ Sans/Ginra\ Sans\ Bold.otf);
    font-weight: 700;
}