.main_1{
    display: flex;
    flex-direction: column;
    margin: 230.52px auto 0;
    position: relative;
    width: 100%;
    max-width: 1160px;
}
.main_1-programImg{
    position: absolute;
    display: flex;
    max-width: 952px;
    max-height: 488px;
    right: 0;
    top: 0;
    pointer-events: none;
    z-index: 1;
  
}
.main_1-programImg>img{
   width: 100%;
}

.main_1-program{
    margin-top: 311px;
    z-index: 2;
    max-width: 522px;
    height: 380px;

   display: grid;
   align-content: space-between;
}

.main_1-program-h2{
    margin: 0;
    color:  #F4F4F4;
    font-family: Ginora Sans;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px; 
    text-transform: capitalize;
   max-width:565px;
}
.main_1-program-p{
    margin: 0;
    color:  #B8B8B8;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    max-width: 450px;

}
.main_1-program-nextContent{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.main_1-program-nextContent-text{
    color: #99A9FF;
    font-family: Ginora Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
    text-transform: uppercase;
}
