.foter{
    width: 100%;
    max-width: 1160px;
    margin:200px auto 0 ;
    display: grid;
    grid-template-columns: 565px 466px;

    justify-content: space-between;
}
.foter-left{
    height: 442px;

    display: grid;
    grid-template-rows: max-content max-content 1fr;
}
.foter-left-h1{
    margin: 0;
    width: 565px;
    font-family: Ginora Sans;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px; /* 119.355% */
    text-transform: capitalize;
   
    background: var(--angular-gradient, conic-gradient(from 180deg at 50% 50.00%, #8093FF 42.37495422363281deg, #66FFE5 199.8749542236328deg));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.foter-left-p{
    margin: 40px 0 0;
    width: 518px;

    color: #B8B8B8;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.foter-left-block{
    display: flex;
    column-gap: 30px;
    align-self: flex-end;
}
.foter-left-block-span{
    color: #B8B8B8;

    font-family: Ginora Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}
.foter-right{
    width: 100%;
    min-height: 442px;
    display: grid;
    grid-template-rows: max-content max-content 1fr;
}
.foter-right-forma{
    display: grid;
    grid-template-rows: 48px 48px 48px;
    row-gap: 40px;
}
.foter-right-forma-information{
    display: grid;
    position: relative;
}
.foter-right-forma-information-span{
    color: #B8B8B8;

    /* H5 title - 22px */
    font-family: Ginora Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 118.182% */
    text-transform: capitalize;
}
.foter-right-forma-information-gradient{
    width: 80px;
    height: 3px;
    background: linear-gradient(90deg, #99A9FF 0%, #5CE4CF 100%);
    align-self:flex-end;
    position: absolute;
    bottom: -1px;
    left: 30px;
}
.foter-right-forma-information-border{
    height: 1px;
    background: #565656;
    align-self:flex-end;
}
.foter-right-forma-information-margin{
    margin-left: 30px;
}
.foter-right-next{
    margin-left: 30px;
    margin-top: 60px;
    display: flex;
    column-gap: 10px;
}
.foter-right-next-span{
    color: var(--primary-color, #99A9FF);
    font-family: Ginora Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
    text-transform: uppercase;
}
.foter-right-about{
    display: flex;
    column-gap: 30px;
    margin-left: 30px;
    align-self: flex-end;
}
.foter-right-about-span{
    color: #B8B8B8;
    text-align: right;

    /* H6 title - 16px */
    font-family: Ginora Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}
.foter-borderGradient{
    margin-top: 90px;
    background: linear-gradient(90deg, rgba(128, 147, 255, 0.25) 0%, #7D9BFA 21.14%, #60DBD4 78.80%, rgba(92, 228, 207, 0.25) 100%);
    height: 1px;
}
.foter-text{
    margin-top: 60px;
    width: 100%;
    display: grid;
    justify-content: center;
}
.foter-text-span{
    color: #B8B8B8;
    text-align: center;

    /* H6 title - 16px */
    font-family: Ginora Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}
.foter-text-span-gradient{
    color: #99A9FF;
    /* H6 title - 16px */
    font-family: Ginora Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    padding-bottom: 40px;
}